	html {
	  -ms-text-size-adjust: 100%; /* 2 */
	  -webkit-text-size-adjust: 100%; /* 2 */
	}
	body,h2,h3,h4,form,br {
        margin: 0px;
        padding: 0px;
    }
    body {
        background-color: #E8E8E8;
    }
	a {
		font-size: 14px;
		text-decoration: none;
	}
	a:hover {
		color: red;
		text-decoration: underline;
	}
    .header{
        height: 50px;
        background-color: #0695CF;
        margin-bottom: 15px;
    }
    .header .navbar {
        width: 932px;
        margin: auto auto;
    }
    .header .logo {
        width: 200px;
        color: White;
        font-size: 18px;
        font-weight: bold;
        padding-top: 20px;
        float: left;
    }
    .header .banner {
        color: #EEEEEE;
        font-size: 14px;
        padding-top: 24px;
        float: left;
    }
    .header .contact {
        width: 160px;
        color: #EEEEEE;
        float: right;
        font-size: 14px;
        padding-top: 12px;
        text-align: right;
    }
    .container {
        width: 932px;
        height: 600px;
        margin: auto;
        border: 1px solid #DCDCDC;
        background-color: White;
    }
    .domain {
        width: 160px;
        height: 90px;
        margin:  20px 0px 0px 20px;
        float: left;
        border: 1px solid #E8E8E8;
        background-color: #F9F9F9;
        text-align: center;
    }
    .domain h2 {
        margin-top: 15px;
        font-size: 15px;
        font-weight: normal;
        color: Red;
    }
    .domain h3 {
        font-size: 15px;
        color: #008800;
    }
    .domain h4 {
        font-size: 15px;
        color: #000000;
        font-weight: bold;
    }
    .bottom {
        width: 160px;
        margin:  20px 0px 0px 20px;
        float: left;
        height: 0px;
    }
    .friendsite {
        width: 932px;
        height: 60px;
        margin: auto;
		margin-top: 5px;
        border: 1px solid #DCDCDC;
        background-color: #FFFFFF;
    }
	.friendsite .content {
		margin: 20px;
	}
    .copyright {
        width: 932px;
        height: 60px;
        margin: auto;
		margin-top: 5px;
		text-align: center;
    }
	.copyright .content {
		margin: 20px;
		font-size: 14px;
	}
